.timelogs-container-1 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.timelogs-container-2 {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-bottom: 26px;
    gap: 38px;
}

.timelogs-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.timelogs-responsive-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 48px;

    @media (min-width: 1160px) {
        grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    }
}

.timelogs-charts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;  
}

.timelogs-chart-and-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;  
}

.timelogs-chart-container {
    height: 300px;
}

.timelogs-sprint-select {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .button {
        padding: 0px 12px
    }

    .button:hover {
        background-color: transparent;
    }
}

.timelogs-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .input-container {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }

    .date {
        flex-grow: 2;
    }

    .time,
    .description {
        flex-grow: 1;
    }

    .tags {
        width: 100%;
    }
}

.timelogs-form .submit-button:hover {
    background-color: rgb(231, 231, 231)
}

.timelogs-table-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-top: 4px;
}

.timelogs-row-container:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
}


.timelogs-description {
    flex: 2;
    padding: 0 8px;
    white-space: pre-wrap;

    p {
        margin-top: 0px;
    }
}

.timelogs-date-and-time {
    flex: 1;
    padding: 0 8px;

    p {
        font-size: small;
        margin: 4px 0px;
    }
}

.timelogs-remove-button:hover {
    background-color: transparent
}

.timelogs-remove-button {
    align-self: flex-start;
}

.timelogs-chart {
    > svg {
        max-width: 620px;
    }
}

.timelogs-not-available-message-and-icon {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #4d4d4d;
}

.timelogs-tags-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
